<ion-view view-title="Login" id="loginPage">
  <ion-content class="padding">
  	<center>
  		<img src="data/img/logo.png"/>
  	</center>
  	<form>
  	  <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

  	 <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Mot de passe</label>
        </div>
     </div>

      <div class='row'>
        <button type="button" name='btn_login' class='col s12 btn btn-large waves-effect login-button' ng-click="SignIn($event)">Se connecter</button>
      </div>
  	</form>
  	 <div class="row">
	    <button type="button" name='btn_login' class='col s12 btn btn-large waves-effect login-button  pink accent-3' ng-click="signInGoogle()">Se connecter avec Google</button>
	  </div>
	  <center><a href="#/signup">Créer un compte</a></center>
	 </div>



  </ion-content>
</ion-view>