<ion-view view-title="Login" id="loginPage">
  <ion-content class="padding">
  	<div class="title">
  		<img src="data/img/logo.png"/>
  		<h1>Prosjekt</h1>
  	</div>

  	<form>
  	  <div class="row">
        <div class="input-field col">
          <input id="email" type="email" class="validate" ng-model="$user.email">
          <label for="email">Email</label>
        </div>
      </div>

  	 <div class="row">
        <div class="input-field col">
          <input id="password" type="password" class="validate" ng-model="$user.password">
          <label for="password">Mot de passe</label>
        </div>
     </div>

      <div class='row'>
        <button id="connect" type="button" name='btn_login' class='col btn btn-large waves-effect login-button' ng-click="SignIn($user)">Se connecter</button>
      </div>
  	</form>

  	<div class="googleConnect">
	  <img src="data/img/googleSignIn.png" ng-click="signInGoogle()" />  

	</center>
	<center><a href="#">Créer un compte</a></center>

  </ion-content>
</ion-view>