#loginPage{

  .title{
    text-align: center;
    margin-top: 30px;

    img{
      width: 80px;
      margin:0;
    }

    h1{
      font-size: 2.8em;
      margin-top:0;
      color: $positive;
    }
  }

  form{
    .row{
      margin-bottom:0;
    }

    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]){
      border-bottom: 1px solid $positive;
      box-shadow: 0 1px 0 0 $positive;
    }

    input[type=password]:focus:not([readonly]) + label,
    input[type=email]:focus:not([readonly]) + label{
      color: $positive;
    }

    #connect{
      background-color: $positive;
    }
  }

  .googleConnect{
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;

    img{
      cursor: pointer;
      width: 85%;
    }
  }
}